# Trial-ключ AG Grid Enterprise (убирает watermark и сообщения в консоли).
# Запросить: https://www.ag-grid.com/download/
# Скопируйте этот файл в .env и вставьте ключ:
# VITE_AG_GRID_LICENSE_KEY=CompanyName.MD5_HASH

VITE_AG_GRID_LICENSE_KEY=
